- title 'Polco Info'

%h3 Welcome to PolCo!  What is PolCo?

%p
  PolCo is a primarily a policy participation site.
  Additionally it serves up political transparency.
  Last, by combing participation and rep transparency it can measure representation quality

%p
  Additionally, PolCo provides two other nice features:
  a simple and useable forum for users to share policy commentary and read others
  A simple and easy to use groups tool for connecting related users to augment their organization

%h3 Here's the story:
%p
  For decades, too many citizens were politically naïve.
  Politicians spent lots of money; pet projects, district and donor pork, general govt inefficiencies.
  Now the macro-economic environment isn't as rosy.
  People want to know why their precious money is being collected, and where it intends to be spent.

%h3 Here's the PolCo idea:
%p
  Participation (reading bills and comments) increases citizens policy education.
  Representative voting transparency increases politician accountability.
  More educated constituents and better politician accountability generates better public policies.

%p
  Here's the mechanism:
  1. Initial beliefs, 2. candidate incumbency status, and 3. money determine election outcomes.
  And consequently policies.
  Restricting money can restrict free speech, and sometimes useful information.
  Moreover, this effectively emphasizes the other factors, which is not necessarily desirable.
  This can make elections especially hard for challengers,

%p
  Restricting money can restrict free speech, and sometimes useful information.
  Moreover, this effectively emphasizes the other factors, which is not necessarily desirable.
  This can make elections especially hard for challengers,
  Or make rumors, preconceived notions, or rigid partisan politics unfortunately quite important.

%p There has to be another solution.

%h3 Actually there is!
  Engaging citizens with just the most basic pieces of their policy process,
  What the bills are, who there reps are, and how they vote,
  can ultimately construct more enlightened and less slander-responsive voters.
  And consequently better public policies.

%h3 And, here's a kicker:
%p
  Many good politicians want educated constituent participation also.
  Often politicians have to simply to the party line to ensure they get party funds in the next election.
  But, if they have a clear metric or constituent preferences, this gives them ground to stand on.
  Be a patriot.
  Cast 2 votes every Tuesday for 1 month.
  Post a comment on a bill.
  Get 1 friend signed up.
  (and feel free to drop a donation to keep this project going ;).
  What's coming next?  What would we use your donations for?

%h3 1.  Bill and Vote Suggester
%p
  Based on a few political philosophy questions, and your previous vote behavior,
  We will recommend bills you would likely be adamantly for or against,
  And therefore would probably want to make your voice heard on.
  Essentially this tool just saves you time by bringing the most interesting bills for you to you

%h3 2. Scaling
%p
  Why just federal house and senate?
  Why not participate on, and get better transparency on
  Supreme Court Cases
  Executive Orders and Presidential Memoranda
  State-level policies
  Local Government policies
  HOA policies
  Policies that arise in your groups, clubs, teams, and organizations
  Within your company?
  International bodies' policies?
  There are bad policies everywhere.
  We want to avail this simple tool, this site to improve them all.