<% title 'Polco Info' %>
<h3> Welcome to PolCo!  What is PolCo?</h3>
<p>PolCo is primarily a policy <strong>participation</strong> website.
Additionally it delivers political <strong>transparency</strong> on Congressional activity.
Last, by combing participation and rep transparency it measures Congressional representation</p> 
<h4>PolCo also provides two other nice perks:</h4>
<ul>
  <li>a simple and useable forum for users to share their commentary and read others</li>
  <li>a simple and easy-to-use groups tool to connect related users and augment their organization</li>
</ul> 
<h4>Here&#8217;s the story:</h4>
<p>For decades, many citizens have been politically naïve.<br>
Unmonitored Politicians spent lots of money;<br>
pet projects, district and donor pork, general govt inefficiencies.</br>
Now the government&#8217;s fiscal condition is much leaner.<br>
People want to know why their precious money is being collected.</p>
  
<h4>Here&#8217;s the PolCo idea:</h4>
<p>Participation (reading bills and comments) increases citizens policy education.<br>
Easier transparency on Reps&#8217; votes increases political accountability.<br>
More educated constituents and better politician accountability generates <strong>
  better public policies</strong>.</p> 
<h3>Here&#8217;s how exactly:</h3> 
<p>Ultimately politicians enact policy. 3 things influence how we elect politicians.</p>
<ul>
 <li>Initial beliefs (partisan affiliations)</li>
 <li>Candidate incumbency status and their track record</li>
 <li>Campaign finances buy advertising and move swing voters</li>
</ul>    
<p>Restricting expenditures restricts free speech, and sometimes useful information.</p>
<p>Also it effectively emphasizes the other factors, which is not necessarily desirable.<br>
For example, emphasizing incumbency can make elections especially hard for challengers.<br>
Or emphasizing initial beliefs and preconceived notions reinforces rigid partisan politics.</p>
<p>There has to be a better alternative.</p>
<p>Actually there is!</p>
<h4>Engaging citizens with:</h4>
<p>What the bills are, who there reps are, and how they vote can generates more enlightened and less slander-responsive voters.
And consequently better public policies.</p>  
<h4>And, here&#8217;s an added benefit:</h4>
<p>Many politicians want educated constituent participation!<br>
Politicians often have to toe the party line to ensure they get critical party funding next election.<br>
But, if they have a clear metric or constituent preferences, this gives them ground to stand on.<br>
It gives them independence from money and partisan forces.</p>  
<h4>Be a patriot.</h4>
<ul>
 <li>Cast 2 votes every Tuesday for 1 month (put it on your calendar).</li>
 <li>Post a comment on a bill.</li>
 <li>Get 1 friend signed up.</li>
</ul> 
<p>and feel free to drop a donation to keep this project going ;).</p> 
<h4>What&#8217;s coming next on PolCo?</h4>
<p>What would we use your donations for?</p> 
<h5>1.  Bill Participation Suggester</h5>
<p>There are a lot of bills out there.<br>
We want to recommend ones that we think you&#8217;ll be passionate about.<br>
And want to participate on.<br>
Based on a few political philosophy questions, and your previous vote behavior,<br>
We will recommend bills you would likely be strongly for or against,<br>
And therefore would probably want to make your voice heard on.<br>
Essentially this tool just saves you time by tee-ing up the most interesting bills for you to you</p> 
<h5>2. Scaling</h5>
<p>Why just federal house and senate policies?<br>
Why not allow you to cast input on, and get better transparency on Supreme Court Cases<br>
Executive Orders and Presidential Memoranda<br>
State-level policies<br>
Local Government policies<br>
HOA policies<br>
Policies that arise in your groups, clubs, teams, and organizations<br>
Within your company?<br>
International bodies&#8217; policies?<br>
There are bad policies everywhere.<br>
We want to avail this simple tool, this site to improve them all.</p>