- title 'Polco Info'

:textile

  h3. Welcome to PolCo!  What is PolCo?

  PolCo is primarily a policy *participation* website.
  Additionally it delivers political *transparency* on Congressional activity.
  Last, by combing participation and rep transparency it measures Congressional representation
   
  <h4>PolCo also provides two other nice perks:</h4>

  # a simple and useable forum for users to share their commentary and read others'
  # a simple and easy-to-use groups tool to connect related users and augment their organization
   
  <h4>Here's the story:</h4>

  For decades, many citizens have been politically naïve.<br>
  Unmonitored Politicians spent lots of money;<br>
  pet projects, district and donor pork, general govt inefficiencies.</br>
  Now the government's fiscal condition is much leaner.<br>
  People want to know why their precious money is being collected.
    
  <h4>Here's the PolCo idea:</h4>

  Participation (reading bills and comments) increases citizens policy education.<br>
  Easier transparency on Reps' votes increases political accountability.<br>
  More educated constituents and better politician accountability generates *better public policies*.
   
  <h4>Here's the how exactly:</h4> 
  Ultimately politicians enact policy. 3 things influence how we elect politicians.

  # Initial beliefs (partisan affiliations)
  # candidate incumbency status and their track record
  # campaign finances buy advertising and move swing voters
  
  Restricting expenditures restricts free speech, and sometimes useful information.

  Also it effectively emphasizes the other factors, which is not necessarily desirable.<br>
  For example, emphasizing incumbency can make elections especially hard for challengers.<br>
  Or emphasizing initial beliefs and preconceived notions reinforces rigid partisan politics.<br>

  There has to be a better alternative.

  Actually there is!

  <h4>Engaging citizens with:</h4>

  What the bills are, who there reps are, and how they vote can generates more enlightened and less slander-responsive voters.
  And consequently better public policies.
    
  <h4>And, here's an added benefit:</h4>
  Many politicians want educated constituent participation!
  Politicians often have to toe the party line to ensure they get critical party funding next election.
  But, if they have a clear metric or constituent preferences, this gives them ground to stand on.
  It gives them independence from money and partisan forces.
    
  <h4>Be a patriot.</h4>

  * Cast 2 votes every Tuesday for 1 month (put it on your calendar).
  * Post a comment on a bill.
  * Get 1 friend signed up.
   
  and feel free to drop a donation to keep this project going ;).
   
  <h4>What's coming next on PolCo?</h4>

  What would we use your donations for?
   
  <h5>1.  Bill Participation Suggester</h5>

  There are a lot of bills out there.
  We want to recommend ones that we think you'll be passionate about.
  And want to participate on.
  Based on a few political philosophy questions, and your previous vote behavior,
  We will recommend bills you would likely be strongly for or against,
  And therefore would probably want to make your voice heard on.
  Essentially this tool just saves you time by tee-ing up the most interesting bills for you to you
   
  <h5>2. Scaling</h5>

  Why just federal house and senate policies?
  Why not allow you to cast input on, and get better transparency on
  Supreme Court Cases
  Executive Orders and Presidential Memoranda
  State-level policies
  Local Government policies
  HOA policies
  Policies that arise in your groups, clubs, teams, and organizations
  Within your company?
  International bodies' policies?
  There are bad policies everywhere.
  We want to avail this simple tool, this site to improve them all.
 
 
