<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<%= coffee_script_tag do %>
drawChart = ->
  data = new google.visualization.DataTable()
  data.addColumn "string", "Topping"
  data.addColumn "number", "Slices"
  data.addRows [ [ "Mushrooms", 3 ], [ "Onions", 1 ], [ "Olives", 1 ], [ "Zucchini", 1 ], [ "Pepperoni", 2 ] ]
  options =
    title: "How Much Pizza I Ate Last Night"
    width: 40
    height: 30

  chart = new google.visualization.PieChart(document.getElementById("chart_div"))
  chart.draw data, options
google.load "visualization", "1.0", packages: [ "corechart" ]
google.setOnLoadCallback drawChart
<% end %>

<div id='visualization'></div>