#tally_region {
background-color:$color-paper;
border:1px solid #000;
border-radius:5px;
width:98%;
margin:10px 0;
padding:10px;
}

#all_users_tally,#all_members_votes,#joined_groups_tally,#followed_groups_tally {
float:left;
background-color:#ccc;
width:45%;
border-radius:10px;
margin:10px;
padding:10px;
}

div#top_bar {
    /* @include main_page_width; */
    top:90px;
    @include main_page_width;
    background:url(/assets/menu-bg.gif) repeat-x scroll left top #FFF;
    border-bottom:1px solid #000;
    height:43px;
    /* padding:0 20px; */
}

ul#top_menu {
    font-family: "Lucida Grande",Verdana,sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    height: 43px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul#top_menu li {
display:block;
float:left;
margin:0 0 0 5px;
}

ul#top_menu li a,.marked_language {
height:38px;
display:block;
float:left;
line-height:200%;
padding:8px 15px 0;
}

ul#top_menu li a {
color:#777;
text-decoration:none;
border-bottom:none;
}

ul#top_menu li a:hover {
color:#333;
background:none;
}

ul#top_menu li a.hmenu_current {
color:#FFF;
background:#FFF url(/assets/current-bg.gif) top left repeat-x;
padding:5px 15px 0;
}

html input[type=text],html input[type=password],body input[type=text],body input[type=password] {
font-size:12px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
background-color:#c9c3e6;
padding:7px;
}

div.page_error {
    text-align: center;
    margin: 125px 10px 20px;
    background: #FCD284;
    border: 1px solid #ddd;
    padding: 30px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

div#bill_details {
  border: 1px solid black;
  width:650px;
  padding:10px;
  border-radius:10px;
  background-color:$color-paper;
  margin-left:auto;
  margin-right:auto;
  div#details {
    margin: 10px auto;
    padding:0.2em;
    height:20px;
    background-color:gainsboro;
  }
}

div#bill_title {
  font-weight: bolder;
  padding-bottom: 10px;
}

div#short_description {
  width: 600px;
  margin-left:auto;
  margin-right:auto;
}

/* code for vote buttons */

#vote_container
{
background: #f0e7d7;
margin: 0 auto;
padding: 1em 0 0 0;
font-family: georgia, serif;
text-transform: uppercase;
  /* to stretch the container div to contain floated list */
  &:after  {
    content: ".";
    display: block;
    line-height: 1px;
    font-size: 1px;
    clear: both;
  }
}

ul#vote_list
{
list-style: none;
padding: 10px;
margin: auto;
width:600px;
height:35px;
background-color:#F0E7D7;
font-size: 0.8em;
  li {
    display: block;
    float: left;
    width: 25%;
    line-height: 2em !important;
    margin: 0;
    padding: 0;
    a {
        display: block;
        padding: 0.5em !important;
        border-width: 1px;
        border-color: #ffe #aaab9c #ccc #fff !important;
        border-style: solid !important;
        line-height:2em;
        color: #777;
        text-decoration: none;
        background: #f7f2ea;
        font-size:12px;
        &:hover {
          color: #800000;
          background: transparent;
          border-color: #aaab9c #fff #fff #ccc !important;
        }
    }
  }
  li#active a {
    background: #f0e7d7;
    color: #800000;
    &:hover {
      color: #800000;
      background: transparent;
      border-color: #aaab9c #fff #fff #ccc !important;
    }
  }
}

#vote_container>ul#vote_list li a { width: auto; }


/*Nate's stuff*/

/*ul#legislator_index_main_container*/
h1#title
{
  text-align: center;
}

